@model IEnumerable<FYP_Appointment_Booking.Models.Appointment>

@{
    ViewData["Title"] = "Index";
}

<h1>Appointments</h1>
<div class="search-box">
    <form asp-controller="DoctorAppointments" asp-action="Index">
        <div class="form-group search-location">
            <input type="text" name="SearchString" placeholder="Search Location">
            <span class="form-text">Filter Based on location</span>
        </div>
        <button type="submit" class="btn btn-primary search-btn" value="Filter"><i class="fas fa-search"></i> <span>Search</span></button>

    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Details)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Confirmed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Confirmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.DoctorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.Id)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm bg-info-light">
                    <i class="far fa-eye"></i>Details
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
